* {
  padding: 0;
  margin: 0 auto;
}

* body {
  font-family: "Roboto", sans-serif;
}

a {
  outline: none;
  text-decoration: none;
  padding: 2px 1px 0;
}

a:link {
  color: #;
}

a:visited {
  color: #00010d;
}

a:focus {
  border-bottom: 1px solid;
  background: red;
}

a:hover {
  border-bottom: 1px solid;
}

a:active {
  background: #00010d;
  color: #f2c744;
}

#lista1 li {
  display: inline;
  font-size: 200%;
  margin-bottom: 100px;
}

.nombre_empresa {
  color: #00010d;
  text-align: center;
  font-size: 40px;
  background-color: #f2c744;
}

.texto_sneakers {
  font-weight: bold;
  color: #00010d;
  text-align: center;
}

.centrar {
  text-align: center;
}

#piedepagina {
  color: #00010d;
  background-color: #f2c744;
  text-align: center;
}

.foto_sneakers {
  width: 25%;
}

#jordan_travis {
  width: 25%;
  height: 25%;
}

#descripcionTravis {
  font-weight: bold;
  color: #00010d;
  text-align: center;
}

#precioYeezy {
  font-weight: bold;
  color: #00010d;
  text-align: center;
}

#descripcionYeezy {
  font-weight: bold;
  color: #00010d;
  text-align: center;
}

#precioTravis {
  font-weight: bold;
  color: #00010d;
  text-align: center;
}

#ubicacionEnMapa {
  margin: auto 0px auto 1550px;
}
