nav {
  background-color: #f2c744;
}
footer {
  background-color: #f2c744;
}
body {
  font-family: roboto, sans-serif;
}
ul {
  li {
    text-decoration: none;
    :hover {
      text-decoration: underline;
    }
  }
}

h1 {
  a {
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
  }
  :visited {
    color: #00010d;
  }
  :hover {
    text-decoration: underline;
  }
  :active {
    color: #f2c744;
  }
}
img:hover {
  transition: all 0.5s;
  transform: scale(1.15);
}
.colorTextoIndex {
  color: #999999;
}
div {
  a {
    color: #00010d;
    outline: none;
    text-decoration: none;
    padding: 2px 1px 0;
    :visited {
      color: #00010d;
    }
    :hover {
      text-decoration: underline;
    }
    :active {
      color: #f2c744;
    }
  }
}

footer {
  a {
    outline: none;
    color: #00010d;
    :hover {
      text-decoration: underline;
      transition: all 0.5s;
      transform: scale(1.15);
    }
    :active {
      color: #f2c744;
    }
  }
}
